body {
    background-color: #013364;
  }

img{
    width: 25%;
    height: 25%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: 100%;
}

.p1{
    color: #FFFFFF;
    text-align:center;
    font-size:16pt;
    margin:20px;
    margin-bottom:10px;
}

.p2{
    color: #FFFFFF;
    float:right;
    font-size:16pt;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:10px;
}

hr{
    border:1px dashed;
    border-color:darkred;
}

.buttonMain{
    background-color:#428bca;
    color: white;
    border:none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:10px;
    display:inline-block;
  }

  .center_div{
    background-color:#013364;
    text-align: center;
    align-self: center;
    position: absolute;
    left: 47%;
    top: 90%;
  }

