h1{
    text-align:center;
    Color: #FFFFFF;
    font-size: 48px;
}

.i1{
    display: inline-block;
    width: 20%;
    height: 20%;
  }

  .i2{
    display: inline-block;
    width: 10%;
    height: 10%;
  }

  .c1{
    color: #FFFFFF;
    font-size:32pt;
    margin:20px;
    margin-bottom:10px;
  }

  .c2{
    color: #FFFFFF;
    font-size:16pt;
    margin:5px;
    margin-left:20px;
  }

  .buttonResults {
    background-color: #428bca; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:10px;
    display:inline-block;
  }

  .center_div{
    text-align: center;
    align-self: center;
  }